/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
}
body {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: #1c6a91;
  min-height: 100%;
}
#easter {
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 100px;
  color: beige;
  text-transform: uppercase;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.3;
  z-index: 2;
}

.sidebar {
  height: 100%;
  padding-bottom: 50px;
  width: 300px;
  background-color: #1a6387;
  position: fixed;
  overflow-x: hidden;
  color: beige;
}

.sidebar .profile img {
  display: block;
  width: 200px;
  margin: auto;
  border-radius: 50%;
  margin-top: 50px;
  border-style: solid;
  border-width: 3px;
}

.sidebar .profile h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.sidebar .profile p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar .menu a {
  display: block;
  padding: 10px;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  text-decoration: none;
}

.sidebar .menu a .icon {
  margin-left: 50px;
}
.sidebar .menu .menutext {
  margin-right: 50px;
  float: right;
}

.sidebar .menu a.active,
.sidebar .menu a:hover {
  color: rgb(0, 0, 0);
  background: rgb(213, 213, 213);
}
.sidebar .menu .icon:hover,
.sidebar .menu .icon.active {
  color: rgb(0, 0, 0);
  background: rgb(213, 213, 213);
}
.sidebar .menu a span:hover,
.sidebar .menu a span.active {
  color: rgb(0, 0, 0);
  background: rgb(213, 213, 213);
}

.btn {
  width: 40px;
  height: 40px;
  margin-left: 50px;
  border: none;
  background-color: #052a3c;
}
.btn:hover {
  background-color: #06d85f;
}

.sidebar .footer {
  margin-bottom: 30px;
  position: fixed;
  bottom: 0;
  width: 300px;
}
.sidebar .footer .contact {
  list-style: none;
  text-decoration: none;
}
.sidebar .footer .contact a {
  color: white;
  text-decoration: none;
  float: left;
  padding-left: 30px;
  margin-top: 20px;
  font-size: 40px;
}

.container .top {
  padding: 130px 0 0 330px;
  min-height: 100%;
  background: linear-gradient(
    to top left,
    #1a6387,
    #1a6387 40%,
    rgb(213, 213, 213)
  );
}
.container .top h2 {
  color: beige;
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}
.container .content {
  color: beige;
  padding: 50px 30px 0 330px;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  background-color: #1a6387;
  height: 100%;
}
.container .content p {
  margin-bottom: 10px;
}
.container .content hr {
  margin-bottom: 10px;
  width: 70%;
}
.container .content .picture img {
  width: 80%;
  margin-left: 40px;
  border-radius: 10px 0 10px 10px;
  box-shadow: 0 10px 15px #888;
}
.container .bottom {
  padding: 130px 0 0 330px;
  background: linear-gradient(
    to bottom right,
    #1a6387,
    #1a6387 40%,
    rgb(213, 213, 213)
  );
}
.about {
  font-size: 18px;
  width: 100%;
  padding-bottom: 10px;
}
.cols {
  display: flex;
  font-size: 16px;
  padding-bottom: 10px;
}
.col1,
.col2 {
  flex: 40%;
}
.col1 {
  margin-right: 50px;
}
.col2 {
  text-align: right;
  margin-left: 50px;
}

.portfolio .content {
  margin: 0 auto;
  overflow: auto;
}
.portfolio .content ul {
  list-style: none;
  position: relative;
}

.portfolio .content li img {
  float: left;
  margin: 5px;
  border: 5px solid #333;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 200px;
  height: 200px;
}

.portfolio .content li img:hover {
  border: 5px solid #f15123;
}
/*-------*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background-color: rgb(99, 99, 99);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.popup h2 {
  margin-bottom: 15px;
  color: beige;
  font-family: "Open Sans", sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 500ms;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: beige;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .info {
  max-height: 30%;
  overflow: auto;
  font-family: "Open Sans", sans-serif;
}
.popup .info p {
  margin-bottom: 15px;
  color: beige;
}

.popup .info a {
  text-decoration: none;
  color: beige;
}
.popup .info a:hover {
  color: #06d85f;
  transition: all 500ms ease-in-out;
} */
